.current {
  	color: black;
	padding: 12px;
	border: 1px solid black;
	border-radius: 15px;

}

nav {
	border-top: 3px double black;
	border-bottom: 3px double black;
	padding: 5px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.nav-item {
	padding: 12px;
	border: 1px solid white;
	border-radius: 15px;
	margin: 5px;
}

body {
	background-color: #41B3A3xxx;
	margin: 0;
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
	line-height: 1.25;
	font-size: 4vh;
	}

a {
	text-decoration:  none;
	color: #E27D60;
}

a:hover {
	color: #c38d9e;
}

pre {
	background-color: rgba(71,178,163,0.25);
	border-radius: 5px;
	padding: 5px;
	font-size: 3.5vh;
}

code{
	font-size: 3.5vh;
	color: #c38d9e;
}

#content {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	background-color: #87CDCAxxx;
	height: 100%;
	padding: 5px;
	margin-bottom: 100px;
	text-align: justify;
}

#header {
	hight: 50px;
	margin-bottom: 2em;
	text-align: center;
}

#header h1 {
	margin-block-end: 0em;
	font-size: 3em;
}

h2 {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid black;
}

h3 {
	color: #41B3A3;	
}

strong {
	color: #41B3A3;	
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

img.float-left {
	float: left; 
	margin: 0px 15px 15px 0px;
}

img.float-right {
	float: right; 
	margin: 0px 15px 15px 0px;
}